[configuration]
entry_symbol = "gdext_rust_init"
compatibility_minimum = "4.6"
reloadable = true

[libraries]
windows.debug.x86_64 = "res://godot/bin/windows/quest_sky_native.dll"
windows.release.x86_64 = "res://godot/bin/windows/quest_sky_native.dll"
linux.debug.x86_64 = "res://godot/bin/linux/libquest_sky_native.so"
linux.release.x86_64 = "res://godot/bin/linux/libquest_sky_native.so"
android.debug.arm64 = "res://godot/bin/android/arm64-v8a/libquest_sky_native.so"
android.release.arm64 = "res://godot/bin/android/arm64-v8a/libquest_sky_native.so"
